<div id="entry-<%= @post.id %>" class='entry'>
  <div class='entry-avatar'>
    <%= link_to gravatar_for(@post.user, size: 50), @post.user %>
    <span class="user"><%= link_to @post.user.name, @post.user %></span><br/>
    <span class="entry-timespan"><%= entry.created_at.strftime("%d-%B-%Y at %T") %></span>
  </div>
  
  <div class="content">
    <b>Title: <%= @post.title %></b><br/>
    <%= @post.body %>
  </div>
    
  <div>
    <% if current_user?(@post.user) %>
      <%= link_to "Delete", @post, method: :delete,
                                       data: { confirm: "You sure?" } %>
      <%= link_to 'Edit', edit_entry_path(@post.id) %>
    <% end %>
  
      <% comment_count=@post.comments.count %>
      <%= link_to "Comment (#{comment_count})", @post %>
 
    
  </div>

</div>