<%= provide(:title, @entry.title) %>
<div class='row'>
	<div class='col-md-8 col-md-offset-2'>
		<%=render 'shared/entry' %>

		<div class='entry-comment'>
			 <% if logged_in? && (current_user?(@entry.user) || current_user.following?(@entry.user)) %>
			 	<div class='errors'></div>
			 	<div class='clearfix'><%=render 'shared/comment_form', status: 'post' %></div>
			 <% else %>	
			   <div class='alert alert-warning'>You aren't allowed to make comment.</div>
			 <% end %>	
			<h4>Comment</h4>
	    	<div class='comment'><%=render @comments %></div>
	     	<%= will_paginate @comments %>
		</div>
	</div>


</div>