<%= form_for(@entry, remote: true) do |f| %>
  <div class="field">
  	<%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    <%= f.text_area :body, cols:'30', rows: '5', class: 'form-control', placeholder: "Your post ..." %>
  </div>

  <% if status=='post' %>
  	 <%= f.submit "Post", class: "btn btn-primary pull-right" %>
  <% else %>
  	 <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  	 <%= link_to 'Cancel',cancel_entry_path(@entry), class: 'pull-right cancel-link', remote: true %>
  <% end %>
 

<% end %>