<%= form_for(@entry, remote: object) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
    <%= f.text_area :body, cols:'30', rows: '5', class: 'form-control', placeholder: "Your post ..." %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary pull-right" %>

<% end %>